<div class="d-flex align-items-center">
  <div>
    <nb-select
      size="small"
      class="nb-select-smaller"
      nbTooltip="Items per page"
      [(selected)]="pagination.pageSize"
      (selectedChange)="paginationSize()"
    >
      <nb-option
        *ngFor="let size of pageSizes"
        [value]="size"
      >
        {{ size }}</nb-option
      >
    </nb-select>
  </div>

  <div class="mx-2">{{ paginationString() }}</div>

  <div class="d-flex">
    <button
      nbButton
      nbTooltip="Previous page"
      ghost
      shape="round"
      (click)="paginationPrevious()"
      *ngIf="showPrevious()"
    >
      <nb-icon icon="arrow-ios-back-outline"></nb-icon>
    </button>
    <!-- Workaround because tooltip is not hiding if button is disabled programmatically. Strangely this doesn't happen on Next page button below...  -->
    <button
      nbButton
      ghost
      shape="round"
      *ngIf="!showPrevious()"
      disabled
    >
      <nb-icon icon="arrow-ios-back-outline"></nb-icon>
    </button>

    <button
      nbButton
      nbTooltip="Next page"
      ghost
      shape="round"
      (click)="paginationNext()"
      [disabled]="!showNext()"
    >
      <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
    </button>
  </div>
</div>
