#modal-body {
  padding: 0;
  position: relative;

  #closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
  }
}

#graphComponent {
  min-height: 20rem;
  height: 90vh;
}
