<div
  class="grid-columns-header sticky"
  [ngClass]="{ scrolled: scrolled }"
>
  <div class="d-flex gap-1 align-items-center">
    <nb-checkbox
      class="lineHeight-0"
      [checked]="selection?.selected?.length === sentences?.length"
      [indeterminate]="selection?.selected?.length && selection.selected.length < sentences?.length"
      (checkedChange)="handleToggleSelectAll($event)"
    ></nb-checkbox>
    <div
      *ngIf="selection.selected.length"
      class="d-flex gap-1"
      data-testid="batch-action"
    >
      <button
        nbButton
        nbTooltip="Validate all selected sentences"
        status="success"
        ghost
        shape="round"
        (click)="handleBatchAction(Action.VALIDATE)"
        data-testid="batch-action-validate"
      >
        <nb-icon icon="checkmark-circle-2"></nb-icon>
      </button>
      <button
        *ngIf="!isFilteredUnknown"
        nbButton
        nbTooltip="Set all selected sentences as unknown"
        status="warning"
        ghost
        shape="round"
        (click)="handleBatchAction(Action.UNKNOWN)"
        data-testid="batch-action-unknown"
      >
        <nb-icon icon="question-mark-circle-outline"></nb-icon>
      </button>
      <button
        *ngIf="sentenceTrainingMode !== SentenceTrainingMode.RAGEXCLUDED"
        nbButton
        nbTooltip="Set all selected sentences as ragexcluded"
        status="warning"
        ghost
        shape="round"
        (click)="handleBatchAction(Action.RAGEXCLUDED)"
        data-testid="batch-action-ragexcluded"
      >
        <nb-icon icon="alert-triangle-outline"></nb-icon>
      </button>
      <button
        nbButton
        nbTooltip="Delete all selected sentences"
        status="danger"
        ghost
        shape="round"
        (click)="handleBatchAction(Action.DELETE)"
        data-testid="batch-action-delete"
      >
        <nb-icon icon="trash-2-outline"></nb-icon>
      </button>
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center flex-wrap gap-1">
    <span
      class="pointer"
      (click)="toggleSort()"
      data-testid="sort"
    >
      Sort by creation date
      <nb-icon
        *ngIf="!isSorted"
        icon="chevron-down-outline"
        class="valign-middle"
      ></nb-icon>
      <nb-icon
        *ngIf="isSorted"
        icon="chevron-up-outline"
        class="valign-middle"
      ></nb-icon>
    </span>

    <tock-pagination
      [pagination]="pagination"
      (onPaginationChange)="paginationChange($event)"
    ></tock-pagination>
  </div>
</div>

<nb-card
  *ngFor="let sentence of sentences"
  [ngClass]="{ 'my-2': true, selected: sentence._showDialog }"
  [id]="getSentenceId(sentence)"
  data-testid="list"
>
  <nb-card-body class="grid-columns p-3">
    <nb-checkbox
      [checked]="isSentenceSelected(sentence)"
      (checkedChange)="toggle(sentence)"
      class="mt-1"
    ></nb-checkbox>

    <div data-testid="text">
      <tock-sentence-training-sentence [sentence]="sentence"></tock-sentence-training-sentence>

      <nb-card
        class="mx-3 mt-2 mb-0"
        accent="info"
        *ngIf="sentence.forReview && sentence.reviewComment"
      >
        <nb-card-body class="text-muted review">
          <strong class="d-block">Review comment :</strong>
          {{ sentence.reviewComment }}
        </nb-card-body>
      </nb-card>
    </div>

    <div class="tools-panel">
      <div class="font-size-small text-muted unselectable">
        <button
          nbButton
          ghost
          size="tiny"
          class="mr-2 lineFirstSmallButtonRetract"
          nbTooltip="Copy sentence"
          (click)="copySentence(sentence)"
        >
          <nb-icon icon="copy-outline"></nb-icon>
        </button>

        <time>{{ sentence.creationDate | date: 'yy/MM/dd HH:mm:ss' }}</time>

        <span
          class="text-uppercase mx-1"
          [style.color]="sentence.statusColor()"
          nbTooltip="Sentence status"
        >
          {{ sentence.statusDisplayed() }}
        </span>

        <span nbTooltip="Sentence configuration">
          {{ sentence.configuration }}
        </span>
      </div>

      <div
        class="font-size-small text-muted mb-2"
        *ngIf="sentence.qualifier"
        nbTooltip="Qualifier"
      >
        {{ sentence.qualifier }}
      </div>

      <div class="d-flex mb-1">
        <nb-form-field
          class="mb-0 flex-grow-1 mb-0"
          nbTooltip="Intent association"
        >
          <nb-icon
            nbPrefix
            icon="compass-outline"
          ></nb-icon>
          <input
            nbInput
            fullWidth
            type="text"
            placeholder="{{ getSentenceAttribut(sentence, 'intentLabel') }}"
            (focus)="onFocus($event)"
            (blur)="onBlur($event)"
            (keyup.escape)="onBlur($event)"
            (keyup)="filterIntentsList($event)"
            autocomplete="off"
            [nbAutocomplete]="intentsAutocomplete"
            class="intent-input"
          />
        </nb-form-field>
        <button
          nbButton
          ghost
          nbTooltip="Intent detection probability. Click for details"
          class="stats-button font-weight-normal pl-3 pr-1"
          (click)="swapStatsDetails(sentence)"
        >
          {{ getSentenceAttribut(sentence, 'probability') | percent: '1.0-1' }}
          <nb-icon [icon]="sentence._showStatsDetails ? 'chevron-up-outline' : 'chevron-down-outline'"></nb-icon>
        </button>
      </div>

      <div
        class="stats-details font-size-small mb-3"
        *ngIf="sentence._showStatsDetails"
      >
        <div class="d-flex gap-1 justify-content-between">
          <span> Intent probability: </span>
          <span> {{ sentence.classification.intentProbability | percent: '1.0-2' }} </span>
        </div>

        <div
          class="text-muted font-size-small"
          *ngIf="sentence.classification.otherIntentsProbabilities?.size"
        >
          Probability for other intents:
          <div
            class="d-flex gap-1 justify-content-between"
            *ngFor="let i of sentence.classification.otherIntentsProbabilities | keyvalue"
          >
            <span>{{ state.intentLabelByName(i.key) }}</span>
            <span>{{ i.value | percent: '1.0-2' }}</span>
          </div>
        </div>

        <hr class="my-1" />

        <div class="d-flex gap-1 justify-content-between">
          <span> Entities probability: </span>
          <span> {{ sentence.classification.entitiesProbability | percent: '1.0-2' }} </span>
        </div>

        <div
          class="text-muted font-size-small"
          *ngIf="sentence.classification.notRetainedEntities?.length"
        >
          Probability for other entities:
          <div
            class="d-flex gap-1 justify-content-between"
            *ngFor="let i of sentence.notRetainedEntitiesContainer().getEntities()"
          >
            <span>{{ entity.value ? container.entityText(entity) : '' }} {{ container.entityValue(entity) }}</span>
            <span>{{ entity.probability | percent: '1.0-2' }}</span>
          </div>
        </div>
      </div>

      <nb-autocomplete
        size="tiny"
        #intentsAutocomplete
        (selectedChange)="addIntentToSentence($event, sentence)"
      >
        <nb-option-group
          *ngFor="let group of filteredIntentGroups | async"
          [title]="group.category"
        >
          <nb-option
            *ngFor="let intent of group.intents"
            [value]="intent._id"
          >
            {{ intent.label || intent.name }}
          </nb-option>
        </nb-option-group>
      </nb-autocomplete>

      <div class="d-flex flex-wrap justify-content-between">
        <button
          nbButton
          nbTooltip="Validate"
          status="success"
          ghost
          shape="round"
          size="large"
          class="lineFirstLargeButtonRetract"
          (click)="handleAction(Action.VALIDATE, sentence)"
          data-testid="validate"
        >
          <nb-icon icon="checkmark-circle-2"></nb-icon>
        </button>

        <button
          nbButton
          nbTooltip="Ask for review"
          status="info"
          ghost
          shape="round"
          size="large"
          (click)="askForReview(sentence)"
        >
          <nb-icon icon="search-outline"></nb-icon>
        </button>

        <button
          *ngIf="!isFilteredUnknown"
          nbButton
          nbTooltip="Set as unknown"
          status="warning"
          ghost
          shape="round"
          size="large"
          (click)="handleAction(Action.UNKNOWN, sentence)"
          data-testid="unknown"
        >
          <nb-icon icon="question-mark-circle-outline"></nb-icon>
        </button>

        <button
          *ngIf="sentenceTrainingMode !== SentenceTrainingMode.RAGEXCLUDED"
          nbButton
          nbTooltip="Exclude from Rag handling"
          status="warning"
          ghost
          shape="round"
          size="large"
          (click)="handleAction(Action.RAGEXCLUDED, sentence)"
          data-testid="ragexcluded"
        >
          <nb-icon icon="alert-triangle-outline"></nb-icon>
        </button>

        <button
          nbButton
          nbTooltip="Delete"
          status="danger"
          ghost
          shape="round"
          size="large"
          (click)="handleAction(Action.DELETE, sentence)"
          data-testid="delete"
        >
          <nb-icon icon="trash-2-outline"></nb-icon>
        </button>

        <nb-select
          [(ngModel)]="sentence.language"
          placeholder="Sentence language"
          nbTooltip="Set sentence language"
          class="mt-1 flex-grow-1"
        >
          <nb-option
            *ngFor="let l of state.currentApplication.supportedLocales"
            [value]="l"
          >
            {{ state.localeName(l) }}
          </nb-option>
        </nb-select>
      </div>

      <div class="d-flex flex-wrap justify-content-between">
        <div>
          <button
            nbButton
            nbTooltip="Create new Intent"
            ghost
            shape="round"
            class="lineFirstButtonRetract"
            (click)="createNewIntent(sentence)"
          >
            <nb-icon icon="plus-circle-outline"></nb-icon>
          </button>

          <button
            *ngIf="state.hasRole(UserRole.botUser)"
            nbButton
            nbTooltip="Create new FAQ based on this sentence"
            ghost
            shape="round"
            (click)="redirectToFaqManagement(sentence)"
            class="ml-2"
            data-testid="redirectToFaqManagement"
          >
            <nb-icon icon="message-square-outline"></nb-icon>
          </button>
        </div>

        <button
          nbButton
          nbTooltip="Show conversation"
          ghost
          shape="round"
          status="info"
          (click)="showDetails(sentence)"
          data-testid="details"
        >
          <nb-icon icon="message-circle-outline"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
