<header class="d-flex mb-2">
  <h1>FAQ training</h1>
</header>

<main>
  <tock-faq-training-filters (onFilter)="filterFaqTraining($event)"></tock-faq-training-filters>

  <div
    class="loading"
    [nbSpinner]="loading"
  >
    <nb-card *ngIf="!loading && !sentences?.length">
      <nb-card-body class="d-flex">
        <img
          src="{{ baseHref }}assets/images/best_bot_gray.png"
          class="tock-robot mr-4"
        />
        <div>
          <h2 class="text-muted">No sentences found</h2>
        </div>
      </nb-card-body>
    </nb-card>

    <tock-faq-training-list
      *ngIf="sentences?.length"
      [sentences]="sentences"
      [selection]="selection"
      (onAction)="handleAction($event)"
      (onBatchAction)="handleBatchAction($event)"
      (onSort)="sortFaqTraining($event)"
      [pagination]="pagination"
      (onPaginationChange)="paginationChange($event)"
    ></tock-faq-training-list>
  </div>
</main>
