@import '@nebular/theme/styles/global/breakpoints';
@import '@nebular/theme/styles/theming';
@import '@nebular/theme/styles/themes';

.main-card {
  max-width: 90vw;
  min-width: 50vw;
  max-height: 90vh;
}

.entries-list {
  DIV {
    border-bottom: var(--list-item-divider-width) var(--list-item-divider-style) var(--list-item-divider-color);
  }
}
