<div class="d-flex flex-wrap mb-2">
  <h1 class="flex-grow-1">FAQ management</h1>

  <section class="grid-actions">
    <button
      *ngIf="isAuthorized"
      nbButton
      ghost
      shape="round"
      nbTooltip="FAQ Parameters"
      (click)="openSettings()"
    >
      <nb-icon icon="settings-outline"></nb-icon>
    </button>

    <button
      nbButton
      status="primary"
      (click)="addOrEditFaq()"
    >
      <nb-icon icon="plus-outline"></nb-icon>
      NEW FAQ
    </button>
  </section>
</div>

<section [class.grid]="isSidePanelOpen.edit || isSidePanelOpen.settings">
  <div>
    <tock-faq-management-filters
      [tagsCache]="tagsCache"
      (onFilter)="filterFaqs($event)"
    ></tock-faq-management-filters>

    <div
      class="loading"
      [nbSpinner]="loading.list"
    >
      <tock-no-data-found
        *ngIf="!loading.list && !faqs?.length"
        title="No Faq found"
        message="You may create a new one using above button &#34;NEW FAQ&#34;."
      ></tock-no-data-found>

      <tock-faq-management-list
        *ngIf="!loading.list && faqs?.length"
        [nbSpinner]="loading.delete"
        [faqs]="faqs"
        [selectedFaq]="faqEdit"
        (onEdit)="addOrEditFaq($event)"
        (onDelete)="deleteFaq($event)"
        (onEnable)="enableFaq($event)"
      ></tock-faq-management-list>
    </div>
  </div>

  <tock-faq-management-edit
    #faqEditComponent
    *ngIf="isSidePanelOpen.edit"
    [loading]="loading.edit"
    [faq]="faqEdit"
    [tagsCache]="tagsCache"
    (onClose)="closeSidePanel()"
    (onSave)="saveFaq($event)"
  ></tock-faq-management-edit>

  <tock-faq-management-settings
    #faqSettingsComponent
    *ngIf="isSidePanelOpen.settings"
    (onClose)="closeSidePanel()"
  ></tock-faq-management-settings>
</section>
