<div class="px-3">
  <div class="tokens-container-wrapper">
    <div class="tokens-container">
      <span
        *ngFor="let token of tokens"
        [nbTooltip]="'Entity : ' + token.entity?.role"
        [nbTooltipDisabled]="!token.entity"
        [ngClass]="{ token: token.entity, pointer: token.entity, 'cursor-default': !token.entity }"
        [style.background]="token.color()"
        [style.color]="getContrastYIQ(token.color())"
        (click)="token.entity ? displayTokenMenu($event, token) : null"
        ><!-- NO carriage return here ! -->{{ token.text }}</span
      >
    </div>
  </div>

  <!-- <div
    class="mt-3"
    *ngIf="!readOnly && edited"
  >
    <div
      *ngIf="entityProvider"
      class="existing-entity-selector"
    >
      <span
        class="pointer"
        *ngFor="let entity of entityProvider.getEntities()"
        nbTooltip="Assign the &quot;{{ entity.qualifiedName(state.user) }}&quot; entity to the selection"
        (click)="onSelect(entity)"
        [style.background-color]="entity.entityColor"
        [style.color]="getContrastYIQ(entity.entityColor)"
      >
        {{ entity.qualifiedName(state.user) }}
      </span>
    </div>

    <div>
      <button
        nbButton
        ghost
        (click)="addEntity()"
      >
        <nb-icon icon="plus-outline"></nb-icon>
        Add Entity
      </button>
    </div>
  </div> -->
</div>

<ng-template
  #userMenu
  let-token
>
  <section class="token-menu pt-1">
    <button
      *ngIf="token"
      type="button"
      nbButton
      ghost
      size="small"
      class="d-block w-100"
      (click)="delete(token)"
    >
      <nb-icon icon="trash-2-outline"></nb-icon> Remove entity
    </button>

    <div
      *ngIf="!token"
      class="px-3 pb-1"
    >
      Associate an existing entity :
      <div
        *ngFor="let entity of entityProvider.getEntities()"
        class="pointer text-mitigated p-1 mb-1"
        nbTooltip="Assign the &quot;{{ entity.qualifiedName(state.user) }}&quot; entity to the selection"
        (click)="onSelect(entity)"
        [style.background-color]="entity.entityColor"
        [style.color]="getContrastYIQ(entity.entityColor)"
      >
        <nb-icon
          icon="attach-outline"
          class="valign-middle"
        ></nb-icon>
        {{ entity.qualifiedName(state.user) }}
      </div>
    </div>

    <button
      *ngIf="!token"
      type="button"
      nbButton
      ghost
      size="small"
      class="d-block w-100"
      (click)="addEntity(token)"
    >
      <nb-icon icon="plus-circle-outline"></nb-icon> Add entity
    </button>
  </section>
</ng-template>
