.token {
  border-radius: 0.45rem;
  padding: 0.1rem 0.3rem;
  // display: inline-block;
  line-height: 1;
  box-shadow: -1px 1px 5px #00000030;
  .delete {
    font-size: 1em;
    margin-top: 2px;
    margin-left: 4px;
  }
}

.token-menu {
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
