<form
  [formGroup]="form"
  class="row"
>
  <div class="col-lg-3 col-md-6 d-flex flex-column mb-2">
    <label for="otherStarterIntents">Other main intents</label>
    <nb-select
      formControlName="otherStarterIntents"
      fullWidth
      id="otherStarterIntents"
      multiple
      placeholder="Select intent"
    >
      <nb-option-group
        *ngFor="let group of intentGroups"
        [title]="group.name"
      >
        <nb-option
          *ngFor="let intent of group.children"
          [value]="intent.value"
          [disabled]="disabledIntent(intent.value, intentList.SECOND)"
        >
          {{ intent.label }}
        </nb-option>
      </nb-option-group>
    </nb-select>
  </div>

  <div class="col-lg-3 col-md-6 d-flex flex-column mb-2">
    <label for="secondaryIntents">Secondary intents</label>
    <nb-select
      formControlName="secondaryIntents"
      fullWidth
      id="secondaryIntents"
      multiple
      placeholder="Select intent"
    >
      <nb-option-group
        *ngFor="let group of intentGroups"
        [title]="group.name"
      >
        <nb-option
          *ngFor="let intent of group.children"
          [value]="intent.value"
          [disabled]="disabledIntent(intent.value, intentList.MAIN)"
        >
          {{ intent.label }}
        </nb-option>
      </nb-option-group>
    </nb-select>
  </div>

  <div class="col-lg-3 col-md-6 d-flex flex-column mb-2">
    <label for="webhookURL">Bot actions (*)</label>
    <nb-form-field
      class="mb-1"
      [nbSpinner]="loading.botActions"
    >
      <input
        formControlName="webhookURL"
        fullWidth
        nbInput
        id="webhookURL"
        type="text"
        placeholder="url"
      />
      <button
        nbButton
        nbSuffix
        nbTooltip="Visualiaze bot actions list"
        ghost
        [disabled]="webhookURL.errors?.url"
        (click)="visualizeBotActions()"
      >
        <nb-icon icon="eye-outline"></nb-icon>
      </button>
    </nb-form-field>

    <div>
      <nb-list
        *ngIf="botActions?.length"
        class="list-bot-actions"
      >
        <nb-list-item *ngFor="let botAction of botActions">{{ botAction }}</nb-list-item>
      </nb-list>

      <span *ngIf="!loading.botActions && botActions && !botActions.length">No data found</span>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="d-flex flex-column">
      <label
        for="formFile"
        class="form-label"
      >
        State machine (*)
      </label>
      <tock-file-upload
        id="formFile"
        formControlName="stateMachine"
        [currentFile]="stateMachine.value"
        [fullWidth]="true"
      >
        <a
          nbButton
          outline
          nbTooltip="Redirect to stately.ai"
          href="https://stately.ai/viz"
          target="_blank"
        >
          <nb-icon icon="eye-outline"></nb-icon>
        </a>
      </tock-file-upload>
    </div>
  </div>
</form>
