@for $i from 1 through 4 {
  .gap-#{$i} {
    gap: #{$i}rem;
  }
}

.lineHeight-0 {
  line-height: 0;
}

.pointer {
  cursor: pointer;
}

.nb-theme-default .text-mitigated {
  color: #6c757d;
}

.nb-theme-dark .text-mitigated {
  color: nb-theme(color-basic-600);
}

// Makes the disabled ghost button more discreet. By default, the background color makes it more visible than the non-deactivated buttons.
.nb-theme-default [nbButton].appearance-ghost.status-basic[disabled],
.nb-theme-default .appearance-ghost.status-basic[disabled][nbButtonToggle],
.nb-theme-dark [nbButton].appearance-ghost.status-basic[disabled],
.nb-theme-dark .appearance-ghost.status-basic[disabled][nbButtonToggle] {
  background-color: unset;
  color: #8f9bb354;
}

.card-footer-actions {
  display: flex;
  flex-direction: column;
  grid-gap: 0.5rem;
}

@media screen and (min-width: 400px) {
  .card-footer-actions {
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}
