<section [class.grid]="dialogDetailsSentence">
  <div class="main">
    <tock-sentence-training-filters
      #faqTrainingFilter
      [sentenceTrainingMode]="sentenceTrainingMode"
      (onFilter)="filterFaqTraining($event)"
      class="d-block mb-2"
    ></tock-sentence-training-filters>

    <div
      class="loading"
      [nbSpinner]="loading"
      infinite-scroll
      [infiniteScrollDistance]="1"
      (scrolled)="onScroll()"
    >
      <tock-no-data-found
        *ngIf="!loading && !sentences?.length"
        title="No sentences found"
      ></tock-no-data-found>

      <tock-sentence-training-list
        #faqTrainingList
        *ngIf="sentences?.length"
        [isFilteredUnknown]="isFilteredUnknown"
        [sentences]="sentences"
        [selection]="selection"
        [sentenceTrainingMode]="sentenceTrainingMode"
        (onDetails)="showDetails($event)"
        (onAction)="handleAction($event)"
        (onBatchAction)="handleBatchAction($event)"
        (onSort)="sortFaqTraining($event)"
        [pagination]="pagination"
        (onPaginationChange)="paginationChange($event)"
      ></tock-sentence-training-list>
    </div>
  </div>

  <tock-sentence-training-dialog
    #faqTrainingDialog
    *ngIf="dialogDetailsSentence"
    class="aside"
    [sentence]="dialogDetailsSentence"
    (onClose)="closeDetails()"
    (onSearchSentence)="retrieveSentence($event)"
  ></tock-sentence-training-dialog>
</section>
