<nb-card
  *ngFor="let faq of faqs"
  [ngClass]="{ 'mb-2': true, selected: selectedFaq?.id === faq.id }"
>
  <nb-card-body class="grid-columns">
    <div>
      <div class="font-weight-bold initial-capitalize">
        {{ faq.title }}
      </div>
      <!-- <span class="text-muted">
        {{ faq.description }}
      </span> -->

      <div class="row">
        <div class="col-md-6">
          <div class="truncate">
            <small
              class="d-block text-muted"
              *ngIf="faq.utterances.length == 1"
              >Question</small
            >
            <small
              class="d-block text-muted"
              *ngIf="faq.utterances.length > 1"
              >First question (out of {{ faq.utterances.length }})</small
            >
            <span class="text-muted">{{ faq.utterances[0] }}</span>
          </div>
        </div>

        <div class="col-md-6">
          <div class="truncate">
            <small class="d-block text-muted">Answer</small>
            <span class="text-muted">{{ faq.answer }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex">
      <nb-tag-list>
        <nb-tag
          appearance="filled"
          *ngFor="let tag of faq.tags"
          [text]="tag"
          status="basic"
          size="tiny"
        ></nb-tag>
      </nb-tag-list>
    </div>

    <div class="d-flex flex-wrap align-items-center justify-content-center">
      <nb-toggle
        id="faqToggle"
        nbTooltip="Disable"
        class="mx-2"
        [ngModel]="faq.enabled"
        (mousedown)="toggleEnabled(faq)"
      ></nb-toggle>

      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <button
          nbButton
          ghost
          shape="round"
          nbTooltip="Edit"
          class="mb-2"
          (click)="editFaq(faq)"
        >
          <nb-icon icon="edit-outline"></nb-icon>
        </button>
        <button
          nbButton
          ghost
          shape="round"
          nbTooltip="Download"
          class="mb-2"
          (click)="download(faq)"
        >
          <nb-icon icon="download-outline"></nb-icon>
        </button>
        <button
          nbButton
          ghost
          shape="round"
          nbTooltip="Delete"
          class="mb-2"
          (click)="delete(faq)"
        >
          <nb-icon icon="trash-2-outline"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
